
/* LAYOUT */
.content {
    display: flex;
    padding-right: 1em;
    padding-top: 4em;
}

main {
    padding: 1.5em 1em 1.5em 1em;
    order: 2;
    width: 65%;
}

aside {
    width: 35%;
    order: 1;
}

aside figure {
    margin-bottom: 1.5em;
    padding: 1.5em;
}

#artworks {
    padding: 2.5em 1.5em 0 1.5em;
}

#artworks a:hover img {
	transform: scale(1.05,1.05);
}

#artworks img {
	transition: transform 0.4s ease;		
}


/* TYPOGRAPHY */
body {
    font-family: Verdana, Arial, sans-serif;  
}

main p:last-child {
    margin-bottom:0;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    padding: 0 0 0.3em 0;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
    padding:0.25em;
}

figcaption {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}

#artistname a {
    text-decoration: none;
}

#artistname a:hover {
    text-decoration: underline;
}



/* COLOUR SCHEME & BORDERS */

.content {
    background-color: #e3e3e3;
}
#artworks figure {
    background-color: #F5f5f5;
    border: 1px solid #888;
    border-radius: 0.5em;
}

h1 {
    border-bottom: 1.5px solid #888;
    margin-bottom: 0.5em;
}

h2 {
    color: #A83347;
}

#artistname a, #artistname a:hover {
    color: #A83347;
}

#artistname a:visited {
    color: #A83347;
}


/* IMAGES & VIDEOS */

.lead-in {
    width: 15rem;
    float: right;
    margin: 0 0 0.5em 0.5em;
}

/* ARTIST VIEDO */
.artistviedo {
    padding: 1em 2em 0 2em;
}

.hoterevideo {
    width: 100%;
}

#hoterememory {
    color: #A83347;;
}

 /* ARTIST TIMELINE */
 .artisttimeline {
     padding: 1em 2em;  
 }

.timelineheader {
    font-size: 2.5rem;
    padding-top: 0.5em;
}

.timeline {
    position: relative;
    background-color: #888;
    padding: 1em 0;
    margin-bottom: 1.5em;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 0.375em;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.1875em;
}

/* Timelinecontainer around timelinecontent */
.timelinecontainer {
    padding: 0.625em 2.5em;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timelinecontainer::after {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    right: -1.06em;
    background-color: white;
    border: 0.3em solid #99031A;
    top: 0.94em;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.375em;
    width: 0;
    z-index: 1;
    right: 1.875em;
    border: medium solid white;
    border-width: 0.625em 0 0.625em 0.625em;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.375em;
    width: 0;
    z-index: 1;
    left: 1.875em;
    border: medium solid white;
    border-width: 0.625em 0.625em 0.625em 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -1em;
}

/* The actual content */
.timelinecontent {
    padding: 1.25em 1.875em;
    background-color: white;
    position: relative;
    border-radius: 0.375em;
}


/* RESPONSIVENESS */
@media screen and (max-width: 62.5rem) and (min-width: 40rem) {
    .content {
        flex-direction: column;
        padding-left: 0.5em;
	}
    main {
        width: 100%;
        order: 1;
        padding: 0 1em;
    }
    aside {
        width: 100%;
        order: 2;
    }
    #artworks {
        display: flex;   
        margin-bottom: 1em;
        padding-top: 0.5em;
    }
    figcaption {
        font-size: 0.8em;
    }
    main p:last-child {
        margin-bottom: 0;
    }
    .subnav {
        padding-top: 1em;
    }
    #artworks figure {
        padding: 1.3em 1.3em 1em 1.3em;
        width: 33.3%;
        border-radius: 0.3em;
        margin: 0.5em  0.3em;
    }
    main h1:first-child {
        padding-top: 1em;
    }
    .timeline {
        margin-bottom: 2em;
    }
    .timelineheader {
        font-size: 2rem;
    }
}

@media screen and (max-width: 40rem) {
    .content {
        flex-direction: column;
        padding-left: 0.5em;
    }
    main {
        width: 100%;
        order: 1;
    }
    aside {
        width: 100%;
        order: 2;
    }
    .lead-in {
        width: 100%;
        margin: 0.1em;
    }
    h1 {
        font-size: 2em;
    }
    .timelineheader {
        font-size: 1.25rem;
    }

    /*TIMELINE*/
    /* Place the timelime to the left */
  .timeline::after {
    left: 1.94em;
  }

/* Full-width containers */
  .timelinecontainer {
    width: 100%;
    padding-left: 4.375em;
    padding-right: 1.56em;
  }

/* Make sure that all arrows are pointing leftwards */
  .timelinecontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 0.625em 0.625em 0.625em 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 0.94em;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}