

/* LAYOUT */

main {
    display: flex;
}

.content {
   padding-top: 5em;
}

main figure{
   width: 60%;
   order: 1;
}

main .artworkdetails {
    width: 40%;
    order: 2;
}

section .sectionheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .sectionheader h1 {
    order: 2;
    flex-grow: 1;
    text-align: center;
}


section .artworks {
    display: flex;
    padding: 2em 2em 0 1em;
}


/* TYPOGRAPHY */

main ul {
    list-style-type: none;
    padding: 0 2.5em;
    padding-top: 0.3em;
}
main li {
    padding-top: 0.5em;
    font-family: Arial,Sans-Serif;
}

main li a {
    text-decoration: none;
}

main li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: Theinhardt,Arial,Sans-Serif;
    text-transform: uppercase;   
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
    font-weight: bold;
}

figcaption {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

main .mydetail {
    font-size: 1.05rem;
    font-weight: bold;
}

section .artworks {
    margin-bottom: 1em;
    padding: 0.5em 0 1.5em 0;
}


/* COLOUR SCHEME & BORDERS */

h1 .famousartworks {
    color:#A83347; 
}

h1 {
    color: #888;
}

h2 {
    color: #A83347;
}
section .sectionheader {
       margin-bottom: 0.5em;
       border-top: 1.5px solid  #888;
       border-bottom: 1px solid  #888; 
       margin-top: 3em;
}

section .artworks {
    border-bottom: 1.5px solid  #888; 
}

main .artworkdetails {
    background-color: #e4e4e4;
    border: 1px solid #888;
    border-radius: 0.5em;
    margin: 1em 1em 1em 3em;
  
}

main li a:visited {
    color:#A83347;
}

main li a {
    color:#A83347;
}


/* IMAGES &VIDEOS */
section figure {
    width: 33.3%;
    padding: 0 1em;
    box-shadow: 10px 10px 5px #888;
}

section .selected {
   color:#A83347;
}

main img {
    margin: 1em;
    box-shadow: 10px 10px 5px #888;
}

.sectionheader img {
    width: 30%;
    height: 5rem;
    order: 1;
}


/*ANIMATION*/
/* Tooltip animation */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 8rem;
    background-color: #A83347;
    color: #fff;
    border-radius: 6px;
    padding: 0.5em 0;
    position: absolute;
    text-align: center;
    z-index: 20;
    top: 85%;    
    left: 90%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext a, section .tooltiptext {
    text-decoration: none;
    color:white;
}

section .tooltiptext {
    visibility: hidden;
    width: 50%;
    top: 50%;    
    left: 45%;
    padding: 0.4em 0;
    background-color: #A83347;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

/*Menu image animation*/
.menu-image {
	position:relative;
}
.menu-box-shadow {
	transition: all 0.3s ease-in-out;
    position: absolute;
	width: 100%;
	height: 100%;
	z-index:5;
	display:block;
	text-align: center;
}
.menu-image:hover .menu-box-shadow {
	box-shadow:inset  0px 0px 0px 148px rgba(85, 85, 85, 0.80);
}
.menu-image:hover .menu-box-shadow,
.menu-image:hover p {
    display:block; 
    opacity:1
}
.menu-image p {
    font-size: 1rem;
    position:absolute;
    left: 0;
    width: 100%;
    top: 43%;
    text-align: center;
    color: #ffffff;
    background-color:#A83347;
    padding: 0.4em 0;
    border-radius: 0.5em;
	display: block;
    opacity: 0;
    z-index: 5;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}


/* RESPONSIVENESS */
@media screen and (max-width: 62.5rem) and (min-width: 40rem) {
    main {
        flex-direction: column;
        justify-content: center;
    }
    .myartwork {
        width: 90%;
        order: 1;  
    }
    main img {
        margin-top: 0;
        padding-left: 0.5em;
    }
    main .artworkdetails {
        width: 90%;
        order: 2;
        margin-left: 1.5em;
        margin-top: 0;
    }
    .sectionheader h1 {
        font-size: 1.75rem;
        padding: 0.25em 0;
    }
    section {
        width: 90%;
        margin-left: 1.5em;
    }
    .sectionheader img {
        display: none;
    }
    section .sectionheader {
        margin-top: 1.5em;
    }
    .menu-image p {
        font-size: 0.8em;
        padding: 0.2em 0;
    }
}
  

@media screen and (max-width: 40rem) {
    main {
        flex-direction: column;
        justify-content: center;
    }
    .myartwork {
        width: 90%;
        order: 1;  
    }
    main img {
        margin-top: 0;
        padding-left: 0.5em;
    }

    main .artworkdetails {
        width: 90%;
        order: 2;
        margin-left: 1.5em;
        margin-top: 0;
    }
    .sectionheader h1 {
        font-size: 1.3rem;
        padding: 0.25em 0;
    }
    .sectionheader img {
        display: none;
    }
    section .sectionheader {
        margin-top: 1.5em;
    }
    section .artworks {
        flex-direction: column;
        padding: 0em 2em 0 1em;
    }
    section figure {
        width: 100%;
        padding: 0 1em;
        box-shadow: 10px 10px 5px #888;
        margin: 1em 0;
    }
    main .tooltiptext{
        visibility: hidden;
        width: 8rem;
        background-color: #A83347;
        color: #fff;
        border-radius: 6px;
        padding: 0.3em 0;
        position: absolute;
        text-align: center;
        z-index: 20;
        top: 60%;    
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }
}