

/* LAYOUT */

.content {
    display: flex;
    padding-top: 1em;
}

main {
    order: 1;
    width:50%;
}

aside {
    width: 50%;
    order: 2;
}

.headername {
    display: flex;
    align-items: flex-end;
}

header  {
    position: relative;
}

.headername {
    width: 25%;
    position: absolute;
    right: 0;
    top: 30%;
}

.googlemap iframe {
    width: 98%;
    padding: 0.5em;
    height: 18rem;
    margin: 1em 1em 1em 0;
    border: none;
}

.field-group input,  .field-group textarea {
    width: 100%;
    padding: 0.5em 0;
}

.field-group {
    padding: 0.4em 0;
}

.btn {
    width: 100%;
    text-align: center;
}


/* TYPOGRAPHY */
.headername p {
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
 }

main p {
    font-size: 1.125rem;
    padding-bottom: 0.5em;
}

header .leftblock {
    text-align: right;
}

header .leftblock p {
    text-align: right;
}

header .middleblock {
    text-align: center;
}

header .rightblock {
    text-align: left;
}

main {
    padding: 1em;
    margin-right: 2rem;
}

aside {
    padding: 0.5em;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 0.2em 0 0 0.2em;
    text-transform: uppercase; 
}

h2 {
    font-size: 1.75rem;
    padding-bottom: 0.5em;
}

.contactmessage {
	font-size: 1rem;
}

.contactmessage h3{
	font-size: 1.1rem;
	font-weight: 400;
	float: left;
	width: 7rem;
	margin-right: 0.5rem;
    line-height: 1.75rem;
    font-family: 'Baloo Bhaijaan', cursive;
    text-transform: uppercase;
}

.contactmessage h3 i{
	font-style: normal;
	font-size:1.125rem;
	font-family: 'FontAwesome';
	font-weight: normal;
    margin-right: 0.4em;
    
}

.contactmessage span{
	line-height: 1.75rem;
	display: block;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    color:#666;
}

.contactmessage a {
    text-decoration: none;
}

.contactmessage a:hover {
        text-decoration: underline;
}

.label {
    font-size: 1.08rem;
    font-weight: bold;
}

.btn-primary {
    padding: 0.5em;
    text-transform: uppercase;
    color:white;
    font-weight: 400;
    font-size: 1.125rem;
    border: none;
    border-radius: 0.2em;  
	width:	100%;
}

#phonenumber {
    font-size: 1rem;
}
#phonenumber a {
    text-decoration: none;
}

#phonenumber a:hover {
    text-decoration: underline;
}


/* COLOUR SCHEME & BORDERS */

header .leftblock {
    color: #fff;
}

header .middleblock {
    color: #960B21;
}

header .rightblock {
    color: #fff;
}

.contactmessage a {
    color:#A83347;
}
.contactmessage a:visited {
    color:#A83347;
}

h1 {
    border-bottom: 1px solid #A8A4A4;
}

#phonenumber a {
    color:#A83347;    
}

.btn-primary {
    background-color: #A83347;
}

.asterisk {
    color:#A83347;
}

.btn-primary:hover {
    background-color: black;
}

.required:focus {
    border: 1px solid #34E946;
    outline-color: #34E947;
}

#contact-phone:focus {
    border: 1px solid #666;
    outline-color: #666;
}

.btn-primary:focus {
    border: none;
    outline-color:#fff;
}



/* IMAGES & VIDEOS */

header img {
    height: 25rem;
   
}

/* Social Link */
.social-link{
	display: flex;
	justify-content: flex-start;
    list-style-type: none;
    	
}

.social-link li{
	padding: 0 1em 1em 1em;
}

.social-link li a{
    display: block;
	width: 3rem;
	height: 3rem;
	text-align: center;
	line-height: 3rem;
	font-size: 1.5rem;
	color:#fff;
	border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.twitter a {
	background-color: #55acee;
}

.facebook a {
	background-color: #3b5998;
}

.gplus a {
    background-color:#d34332;
}

.share a {
    font-size: 1.5rem;
    color: black;
    color:#A83347;
}

.shareme {
    border: 1px solid #E2DDDD;
    background-color:#e5e5e5;
    border-radius: 0.25em;
    margin-top: 2em;
}

.shareme p {
    padding: 0.5em 0 0 1em;
    font-size: 1.25rem;
    font-weight: bold;
    color:#555;
    margin-bottom: 0.5em;
}

.social-link li a:hover, .social-link li a:focus{
    text-decoration: none;
    background-color: black;
}


/* RESPONSIVENESS */
@media screen and (max-width: 62.5rem) {
    header img {
        height: 20rem;
    }
    .headername {
        width: 25%;
        right: 6%;
    }
    .headername p {
        font-size: 2.5rem;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    .googlemap iframe {
        height: 13em;
    }
    .btn-primary {
        padding: 0.3em;
        font-size: 1.06rem; 
    }
    .social-link li a {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.25rem;  
    }
    .label {
        font-size: 1rem;
    }
    main p {
        font-size: 1rem;
    }
    .contactmessage h3 i{
        font-size: 1.05rem;	    
    }
    contactmessage h3 {
        font-size: 1rem;
    }
    .contactmessage {
        font-size: 0.95rem;
    }
    #phonenumber {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 40rem) {
    .headerimg {
        display: flex;
        flex-direction: column;
    }
    .content {
        flex-direction: column;
        padding-left: 0.5em;
    }
    main {
        width: 100%;
        order: 1;
    }
    aside {
        width: 100%;
        order: 2;
        padding-left: 0.25em;
    }
    header img {
        position: static;
    }
    .headername {
        width: 100%;
        position: static;
        background-color: black;
        padding: 0.75em 0 0.5em 0.5em;
    }
    .headername p {
        font-size: 2rem;
    }
    h1 {
        font-size: 1.5rem;
        padding: 1em 0 0 1em;
    }
    h2 {
        font-size: 1.25rem;
        border-top: 1px solid #888;
        padding-top: 2em;
    }
    header img {
        height: 13rem;
    }
    .googlemap iframe {
        height: 10em;
    }
    .contactmessage h3 {
        width: 6.5rem;
        margin-right: 0.1em;
        line-height: 1.75rem;
        font-family: 'Baloo Bhaijaan', cursive;
        text-transform: uppercase;
    }
    .contactmessage h3 i{
        font-size: 1rem;	    
    }
    contactmessage h3 {
        font-size: 0.95rem;
    }
    .contactmessage {
        font-size: 0.9rem;
    }
   
}

