
/* LAYOUT */
body {
    max-width: 100%;
}

/* SLIDE */
.my-slides{
    width: 100vw;
    height: 100vh;
    display:none;
}

.slide-nav {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    color: white;
    width: 2em;
    height: 2em;
    margin-top: -0.8em;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}
.slide-nav-next {
    right: 5%;
}
.slide-nav-prev {
    left: 5%;
}

/* AUDIO */
#myaudio {
	position: fixed;
	top: 6em;
	left: 1em;
}

/* SLOGAN ANIMATION */
#slogan {
    position:absolute;
    z-index: 5;
    display: inline-block;
    text-align: center;
    right: 32.5%;
    animation: mymove 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    from {top: 0;}
    to {top: 40%;}
}


#slogan h1 {
    font-family: 'Bree Serif', serif;  
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

#slogan h2 {
    font-family: 'Bree Serif', serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    padding-top: 0.5em;
}

h1 a, h2 a {
	text-decoration: none;
	color: white;
}

/*RESPONSIVENESS*/
@media screen and (max-width: 62.5rem) and (min-width: 40rem) {
    #slogan h1 {
        font-size: 2.5em;
    }
    #slogan h2 {
        font-size: 1.7em;
    }
    .slide-nav {
        font-size: 1.75em;
    }
    #slogan{
        right:25%;
    }
}

@media screen and (max-width: 40rem) {
    #slogan h1 {
        font-size: 1.5em;
    }
    #slogan h2 {
        font-size: 1em;
    }
    .slide-nav {
        font-size: 1.5em;
    }
    #slogan {
        right:15%;
    }
}

